openapi: 3.0.4
info:
  title: SMC-동영상포탈 PIP 연동 API
  description: SMR의 프로그램, 클립 메타데이터를 조회하는 API 입니다.
  contact:
    email: yerimlee@smartmediarep.com
  version: 2.6.0
servers:
  - url: https://smc-api-production.smartmediarep.com/api/v3
tags:
  - name: program
    description: 프로그램 정보 (programinfo)
  - name: clip
    description: 클립영상 정보 (clipmediainfo)
    
paths:
  /programinfo:
    get:
      tags:
        - program
      summary: 프로그램 메타 조회
      description: 
      parameters:
        - name: platform
          in: query
          description: 호출하시는 플랫폼의 코드값입니다.
          required: true
          schema:
            type: string
            enum:
              - smr
        - name: cpid
          in: query
          description: 필터링하고자하는 방송사의 코드값입니다.
          required: false
          schema:
            type: string
            enum:
              - C1
              - C2
              - C3
              - CC
              - CD
              - CE
              - CF
              - CJ
              - CK
        - name: programid
          in: query
          description: 필터링하고자하는 프로그램ID 입니다.
          required: false
          schema:
            type: string
        - name: type
          in: query
          description: recent - 수정일 기준 최근 72시간, all - 전체 ** 최초 연동만 호출
          required: false
          schema:
            type: string
            default: recent
            enum:
              - recent
              - all
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Program'
            text/html: 
        '405':
          description: Invalid status value
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - petstore_auth:
            - write:pets
            - read:pets
  /clipmediainfo:
    get:
      tags:
        - clip
      summary: 클립메타 조회
      description:
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Clip'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - api_key: []
  
components:
  schemas:
    Program:
      type: object
      properties:
        programid:
          type: string
          example: J01_PR10011045
          description: 
        brandcode:
          type: string
          example: 260
        corporator:
          type: string
          example: JTBC
        eventcode:
          type: string
          example: ""
        corporatorcode:
          type: string
          example: jtbc
        programcode:
          type: string
          example: voyage
        title:
          type: string
          example: JTBC Voyage(봐야지)
          description: 
        synopsis:
          type: string
          example: 놓치면 안 될 핫클립부터\r\n내가 보고 싶은 스타의 모습까지 쏙쏙!\r\nJTBC 봐야지! 지금 봐야지 =3\r\n\r\n
        category:
          type: string
          example: 01
        section:
          type: string
          example: 02
        subcategory:
          type: string
          example: ""
        targetage:
          type: string
          example: 0
        channelid:
          type: string
          example: J01
          description: 
        searchkeyword:
          type: string
          example: jtbc봐야지, 구작몰아보기,스타봐야지, 핫클립, 골라봐야지
        hashtag:
          type: string
          example: jtbc봐야지, 구작몰아보기,스타봐야지, 핫클립, 골라봐야지
        startdate:
          type: string
          example: ""
        enddate:
          type: string
          example: ""
        weekcode:
          type: string
          example: 1111100
        starttime:
          type: string
          example: 0000
          description: 
        endtime:
          type: string
          example: 0000
        regdate:
          type: string
          example: 20190430141159
        modifydate:
          type: string
          example: 20260820175347
        homepageurl:
          type: string
          example: https://tv.jtbc.co.kr/voyage
        reviewurl:
          type: string
          example: ""
        bbsurl:
          type: string
          example: ""
          description: 
        cpid:
          type: string
          example: CE
        programimg:
          type: string
          example: https://fs.jtbc.co.kr/joydata/CP00000001/prog/media/voyage/img/20220106_105526_576.jpg
        programposterimg:
          type: string
          example: https://fs.jtbc.co.kr/joydata/CP00000001/prog/media/voyage/img/20220106_105527_882.jpg
        programbannerimg:
          type: string
          example: ""
        programthumimg:
          type: string
          example: https://fs.jtbc.co.kr/joydata/CP00000001/prog/media/voyage/img/20220106_105527_957.jpg
        programcoverimg:
          type: string
          example: ""
          description: 
        programlogoimg:
          type: string
          example: ""
        linktitle1:
          type: string
          example: "[JTBC Voyage] 바로가기"
        linkurl1:
          type: string
          example: https://tv.naver.com/jtbc.voyage
        linktitle2:
          type: string
          example: "[DRAMA Voyage] 바로가기"
        linkurl2:
          type: string
          example: https://tv.naver.com/jtbc.dramavoyage
        linktitle3:
          type: string
          example: "[TV 속 노래모음 DJ티비씨] 바로가기"
          description: 
        linkurl3:
          type: string
          example: https://tv.naver.com/jtbc.DJTBC
        actor:
          type: string
          example: 없음
        director:
          type: string
          example: ""
        writer:
          type: string
          example: ""
        targetnation:
          type: string
          example: ""
        language:
          type: string
          example: ""
          description: 
        masterclipid:
          type: string
          example: J01_VO10939548
        isuse:
          type: string
          example: Y
          enum: 
            - Y
            - N
        pcbannerimgurl:
          type: string
          example: http://smc-cms-production.smartmediarep.com/UploadFiles/Brand/ProgramBanner/20268126718_Web.png
        pclinkurl:
          type: string
          example: https://tv.naver.com/sbs.SD243062
        mobilebannerimgurl:
          type: string
          example: http://smc-cms-production.smartmediarep.com/UploadFiles/Brand/ProgramBanner/20268126718_Mobile.png
        mobilelinkurl:
          type: string
          example: https://tv.naver.com/sbs.SD243062
        limitnation:
          type: string
          example: ""
        
    Clip:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        petId:
          type: integer
          format: int64
          example: 198772
        quantity:
          type: integer
          format: int32
          example: 7
        shipDate:
          type: string
          format: date-time
        status:
          type: string
          description: Order Status
          example: approved
          enum:
            - placed
            - approved
            - delivered
        complete:
          type: boolean
      xml:
        name: order
    
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
      xml:
        name: '##default'
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
